@model List<UserManagementApp.Models.User>

@{
    ViewData["Title"] = "Usuarios Registrados";
}

<h1>Lista de Usuarios Registrados</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Correo </th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Imagen </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td><img src="@user.Avatar" alt="Avatar" /></td>
                <td>
                    <a href="@Url.Action("Details", new { id = user.Id })">Ver más</a>
                </td>
            </tr>
        }
    </tbody>
</table>
